<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../src/components/head');%>
        <title>Dashbord</title>
        <link rel="stylesheet" href="../stylesheets/dashbord.css" />
        <script defer src="../JS/dashbord.js"></script>
</head>

<body>
    <% if (isvalidrole === 'doctor') { %>
        <!-- Show doctor-specific content -->
        <div id="doctor">
            <%- include('../src/components/doctor_dash')%>
        </div>
       
    <% } else { %>
        <!-- Show patient-specific content -->
        <%- include('../src/components/patient_dash.ejs')%>
    <% } %>
</body>

</html>