<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../src/components/head');%>
        <title>Dashbord</title>
        <link rel="stylesheet" href="../stylesheets/dashbord.css" />
</head>

<body>
   
    <% if (isvalidrole === 'doctor') { %>
        <!-- Show doctor-specific content -->
        <div id="doctor">
            <%- include('../src/components/dashbord_doctor')%>
        </div>
       
    <% } else { %>
        <!-- Show patient-specific content -->
        <%- include('../src/components/dashbord_patient')%> 
    <% } %>
</body>

</html>