<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../src/components/head');%>
        <link rel="stylesheet"  href="../stylesheets/login.css" />

        <title>Log In</title>
    </head>
    <body>
        <%- include('../src/components/nav')%>
        <div class="container mt-5" >
            <h2 class="mb-4 text-center">Login</h2>
            <form id="loginForm" method="post" action="/logindata">
                
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="email"
                        class="form-control"
                        id="username"
                        placeholder="Enter your Email"
                        name="username"
                    />
                    <!-- <div id="usernameNull" class="invalid-feedback">Enter Username</div> -->
                    <!-- <div id="usernameValidation" class="invalid-feedback">Invalid Username</div> -->
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                    />
                    <!-- <div id="passwordNULL" class="invalid-feedback">Enter Password</div> -->
                </div>

                <div class="w-100 d-flex flex-column justify-content-around align-items-center">
                    <button type="submit" class="btn btn-primary" onsubmit="submit()">Login</button>
                    <a href="./signup" id="signupLink">Sign Up</a>
                </div>
            </form>
        </div>
    </body>
</html>
