<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../src/components/head'); %>
        <link rel="stylesheet" href="../stylesheets/service.css">
        <title>
            <%= title %>
        </title>

</head>

<body>
    <%- include('../src/components/nav')%>
        <div class="service-page">
            <div class="container">
                <h1>Our Services</h1>
                <div class="service">
                    <h2>Service 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel dolor vel nisl vestibulum
                        tempor
                        nec
                        vitae ligula. Suspendisse potenti. Integer et lectus ac neque tempor consequat.
                    </p>
                </div>
                <div class="service">
                    <h2>Service 2</h2>
                    <p>
                        Sed vitae efficitur mi, nec scelerisque odio. Nulla facilisi. Morbi non nunc nec ante
                        sollicitudin
                        molestie. Ut quis felis ut neque malesuada rhoncus. Integer tempus nisi id arcu feugiat, vitae
                        posuere
                        ligula viverra.
                    </p>
                </div>
                <div class="service">
                    <h2>Service 3</h2>
                    <p>
                        Fusce ac gravida sem. Proin scelerisque, sem at maximus commodo, lectus velit eleifend nunc, sit
                        amet
                        congue tortor elit nec justo. Aenean sodales libero at augue feugiat, vel scelerisque lectus
                        fermentum.
                    </p>
                </div>
            </div>
        </div>

</body>

</html>