<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../components/head.ejs');%>
    <title>
        <%= title%>
    </title>

</head>
<body>
    <h1>Home Page.....</h1>
    <a href="./login">Login</a>
    <a href="./booking">Booking</a>
    <a href="./appointment">appointment</a>
</body>
</html>