<div class="myAppointments">
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Patient Details</h2>
        <div class=" row">


            <!-- Doctor's Details Section -->
            <div class="mb-4 col-lg-7">
                <h3><span id="name">
                        <%= user.name%>
                    </span></h3>
                <p>Contact: <span id="number">
                        <%= user.contact%>
                    </span></p>
            </div>
            <div class="col-lg-5 d-flex justify-content-center ">
                <a href="/booking" class="me-5"><button class="btn btn-primary">Book Appointment</button></a>
                <form action="/logout" method="GET">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>


        </div>


        <div class="booked-appointments">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center" id="appointment_table">
                </table>
            </div>
        </div>
    </div>
</div>