<div class="header d-flex justify-content-around pt-2">
    <nav class="navbar">
        <ul class="navbar list-unstyled">
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./home">Home</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./about">About</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./service">Service</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./doctors">Doctors</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./contact">Contact</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./login">Login</a>
            </li>
        </ul>
    </nav>
</div>
