<div class="header d-flex justify-content-around pt-2">
    <nav class="navbar">
        <ul class="navbar list-unstyled">
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="">Service</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="">Doctors</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./booking">Booking</a>
            </li>
            <li class="nav-item list-style-none px-2">
                <a class="nav-link" href="./login">Login</a>
            </li>
        </ul>
    </nav>
</div>
